{% extends 'base.html' %}
{% block base %}
    <div class="col-sm-9 col-12" style="border: none;">

        <div class="col-12 article-detail row">
            <div class="col-9 title">
                {{ article.headline }}
            </div>

            <div class="col-3 favorite">
                {% if is_favorite == True %}
                <label class="favorite-but" onclick="cancelFavorite('{{article.articleid}}')"><span class="oi oi-heart" aria-hidden="true"></span> 取消收藏</label>
                {% else %}
                            <!--favorite-but  : 用于定位这个元素，和id 一样的效果 ,此处要修改<span里面胡内容-->
                <label class="favorite-but" onclick="addFavorite('{{article.articleid}}')"><span class="oi oi-heart" aria-hidden="true"></span> 收藏本文</label>
                {% endif %}
                <!--article.userid == session.get('userid') 判断当前登录用户为文章作者 -->
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
                作者：{{ article.nickname }} &nbsp;&nbsp;&nbsp;类别：{{ article_ytpe[article.type |string] }}&nbsp;&nbsp;&nbsp;
                日期：{{ article.createtime }} &nbsp;&nbsp;&nbsp;
                阅读：{{ article.readcount }}次&nbsp;&nbsp;&nbsp;消耗积分：{{ article.credit }} 分
            </div>
            <div class="col-12 content" id="content">
                {{article.content |safe}}  <!-- |safe  要保持HTML原样输出，不能转义，加载html样式 -->
            </div>

            <!-- 只有需要消耗积分的文章且未曾支付积分的文章才显示阅读全文按钮,payed == False 如果已购买则不显示-->
            {% if article.credit > 0 and payed == False %}
                <div class="col-12 readall" style="margin: 30px 0px;">
                    {% if session.get('islogin') == 'true' %}
                        <button class="col-sm-10 col-12" onclick="readAll()">
                            <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
                            阅读全文（消耗积分：{{ article['credit'] }} 分）
                        </button>
                        <!--用户未登陆，则提示先登录-->
                    {% else %}
                        <button class="col-sm10 col-12" onclick="showLogin()">
                            <span class="oi oi-data-transfer-download" aria-hidden="true"></span>你还未登陆，点击登陆后可阅读全文
                        </button>
                    {% endif %}
                </div>
            {% endif %}

        </div>
        <!--文章内容-->


        <div class="col-12 article-nav">
            <div>版权所有，转载本站文章请注明出处 http://www.woniunote.com/article/{{ article.articleid }}</div>
            <div>上一篇：
                <a href="/article/{{ prev_next.prev_id }}">{{ prev_next.prev_headline }}</a>
            </div>
            <div>下一篇：
                <a href="/article/{{ prev_next.next_id}}">{{ prev_next.next_headline }}</a>
            </div>
        </div>

        <div class="col-12 article-comment" id="commenttop">
            <div class="col-12 row add-comment ">
                <div class="col-sm-2 col-12">
                    <label for="nickname">你的昵称：</label>
                </div>
                <div class="col-sm-10 col-12" style="padding: 0 0 0 10px;">
                    <input type="text" class="form-control" id="nickname" value="你还未登录，双击此处可登录."
                           ondblclick="showLogin()" readonly/>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-sm-2 col-12">
                    <label for="comment">你的评论：</label>
                </div>
                <div class="col-sm-10 col-12" style="padding: 0 0 0 10px;">
                            <textarea id="comment" class="form-control" placeholder="请在此留下你的真诚的、感人的、发自肺腑的赞美之词."
                                      style="height: 100px;"></textarea>
                    <!--<script id="comment" name="comment" type="text/plain"></script>-->
                </div>
            </div>
            <div class="col-12 row" style="margin-bottom: 20px;">
                <div class="col-2"></div>
                <div class="col-sm-8 col-12" style="text-align: left; color: #888888;">提示：登录后添加有效评论可享受积分哦！</div>
                <div class="col-sm-2 col-12" style="text-align: right">
                    <button type="button" class="btn btn-primary" onclick="showLogin()">点此登录</button>
                </div>
            </div>

            <div id="commentDiv">
                <!-- 循环遍历评论，这部分代码保持不变 -->
            </div>
        </div>
    </div>

<script>
    // 阅读全文函数
    function readAll() {
        var param = 'articleid={{ article.articleid }}&position={{ position }}';
        $.post('readall', param, function (data) {
            $("#content").append(data);
            $(".readall").hide(); //影藏阅读全文按钮，通过.readall定位，也可以通过id定位
        })
    }

    // 收藏和取消收藏
    function addFavorite(articleid) {
        $.post('/favorite', 'articleid='+articleid,function (data) {
            if (data == 'not-login'){
                bootbox.alert({title:"错误提示", message:"你还没有登录，不能收藏文章，请登录后收藏。"});
            }
            else if (data == 'favorite-pass'){
                bootbox.alert({title:"提示", message:"收藏成功"});
                /*  收藏成功以后做以下几个事。
                    1.  菜单名称修改为感谢收藏
                    2. 取消收藏按钮胡单机事件
                 */
                $(".favorite-but").html('<span class="oi oi-heart" aria-hidden="true"></span> 感谢收藏') //菜单名称修改为感谢收藏
                $(".favorite-but").attr('onclick','').unbind('click'); //取消收藏按钮胡单机事件
            }
            else {
                bootbox.alert({title:"错误提示", message:"收藏失败"});
            }
        });
    }
    
    function cancelFavorite(articleid) {
        //ajax没有delete请求，使用ajax发送任何形式的请求（原生方式）
        // post get 是已经封装过的
        $.ajax({
            url: '/favorite/' + articleid,
            type: 'delete',
            success: function (data) {
                if (data == 'not-login'){
                    bootbox.alert({title:"错误提示", message:"你还没有登录，不能收藏文章，请登录后收藏。"});
                }
                else if (data == 'cancel-pass'){
                    bootbox.alert({title:"提示", message:"取消收藏成功。"});
                     $(".favorite-but").html('<span class="oi oi-heart" aria-hidden="true"></span> 欢迎再来') //菜单名称修改为感谢收藏
                     $(".favorite-but").attr('onclick','').unbind('click'); //取消收藏按钮胡单机事件
                }
                else if (data == 'cancel-fail'){
                    bootbox.alert({title:"错误提示", message:"取消失败，请联系管理员。"});
                }
            }
        });
    }
</script>
{% endblock base %}
