{% extends 'base.html' %}
{% block base %}
    <div class="col-sm-9 col-12" style="border: none;">

        <!--文章的开始-->
        {% for article, nickname in result %}
            <div class="col-12 row article-list">
                <div class="col-sm-9 col-xs-12 detail">
                    <div class="title"><a href="/article/{{ article.articleid }}">&nbsp;&nbsp;{{ article.headline }}</a></div>
                    <div class="info">作者：{{ nickname }}&nbsp;&nbsp;&nbsp;类别：{{ article_ytpe[article.type |string] }}&nbsp;&nbsp;&nbsp;日期：{{ article.createtime }}&nbsp;&nbsp;&nbsp;阅读：{{ article.readcount }}
                        次&nbsp;&nbsp;&nbsp;消耗积分：{{ article.credit }} 分
                    </div>
                    <div class="intro">{{ article.content |striptags |truncate(80) }}</div>
                </div>
            </div>
        {% endfor %}
        <!--文章的结束-->



        {# 页码开始 #}
        <div class="col-12 m-auto">
            <nav aria-label="...">
              <!--  justify-content-center  : 设置页码居中-->
              <ul class="pagination justify-content-center">
                <!--如果为第一页，则上一页按钮不显示-->
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link" href="/page/{{ page-1 }}">&laquo;</a></li>
                {% endif %}

                {% for page_num in page_range %}
                    {% if page_num == page %}        {# 判断是否当前页 是则高亮 #}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{ page_num }}<span class="sr-only">(current)</span></span></li>
                    {% else %}
                        {% if page_num == '..' %}
                        {#如果为  ... 不显示超链接#}
                            <li class="page-item disabled"><span class="page-link">{{ page_num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/page/{{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!--如果为最后一页，则下一页按钮不显示-->
                {% if page < total %}
                    <li class="page-item"><a class="page-link" href="/page/{{ page+1 }}">&raquo;</a></li>
                {% endif %}
              </ul>
            </nav>
        </div>
        {# 页码结束 #}
    </div>
    {% include 'side.html' %}
{% endblock base %}
