{% extends 'base.html' %}
{% block base %}
    <div class="col-sm-9 col-12" style="border: none;">
        <!--文章的开始-->
        {% for article, nickname in result %}
            <div class="col-12 row article-list">
                <div class="col-sm-3 col-3 thumb d-none d-sm-block">
                    <img src="/img/{{ article.thumbnail }}" class="img-fluid">
                </div>
                <div class="col-sm-9 col-xs-12 detail">
                    <div class="title"><a href="/article/{{ article.articleid }}">{{ article.headline }}</a></div>
                    <div class="info">作者：{{ nickname }}&nbsp;&nbsp;&nbsp;类别：{{ article_ytpe[article.type |string] }}&nbsp;&nbsp;&nbsp;日期：{{ article.createtime }}&nbsp;&nbsp;&nbsp;阅读：{{ article.readcount }}
                        次&nbsp;&nbsp;&nbsp;消耗积分：{{ article.credit }} 分
                    </div>
                    <div class="intro">{{ article.content |striptags |truncate(80) }}</div>
                </div>
            </div>
        {% endfor %}

        <!--文章的结束-->
        {#分页开始 #}
        <div class="col-12 paginate">
            {% if page == 1 %}
                <a href="/search/1-{{ keyword }}">上一页</a>&nbsp;&nbsp;
            {% else %}
                <a href="/search/{{ page-1 }}-{{ keyword }}">上一页</a>&nbsp;&nbsp;
            {% endif %}

            {% for i in range(total) %}
                <a href="/search/{{i+1}}-{{ keyword }}">{{i+1}}</a>&nbsp;&nbsp;
            {% endfor %}

            {% if page == total %}
                <a href="/search/{{total}}-{{ keyword }}">下一页</a>&nbsp;&nbsp;
            {% else %}
                <a href="/search/{{ page+1 }}-{{ keyword }}">下一页</a>&nbsp;&nbsp;
            {% endif %}
        </div>
        {#分页结束 #}
    </div>

{% include 'side.html' %}
{% endblock base %}