        <div class="col-sm-3 col-12" style="border: none; padding-right: 0px; padding-top: 15px">
            <!--搜索框开始-->
            <div class="col-12 search-bar row">
                <div class="col-8">
                    <input type="text" class="form-control" id="keyword" placeholder="请输入关键字" onkeyup="doSearch(event)"/>
                </div>
                <div class="col-4" style="text-align: right;">
                    <button type="button" class="btn btn-primary" onclick="doSearch(null)">搜索</button>
                </div>
            </div>
            <!--搜索框结束-->

            <!--最新文章-->
            <div class="col-12 side">
                <div class="tip">最新文章</div>
                <ul id="last"></ul>
            </div>
            <!--最多阅读-->
            <div class="col-12 side">
                <div class="tip">最多阅读</div>
                <ul id="most"></ul>
            </div>

            <div class="col-12 side" id="fixedmenu">
                <div class="tip">特别推荐</div>
                <ul id="recommended"></ul>
                <div class="tip" style="background-color: #3276b1; text-align: center; cursor: pointer;" onclick="gotoTop()">
                    回到顶部
                </div>
            </div>
        </div>
<!-- 登录和注册模态框 -->
<!-- data-backdrop="static" 表示用户必须要手工关闭模态框才能操作其他页面 -->
<div class="modal fade" id="mymodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- 在模态框内部配置Tab选项卡，用于切换登录和注册窗口 -->
            <div class="tabbable" id="tabs"
                 style="background-color: #337AB7; height: 50px;padding: 5px 20px;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <!-- 与登录和注册窗口的ID进行关联 -->
                <ul class="nav nav-tabs" role="tablist">
                    <li id="login" class="nav-item active">
                        <a href="#loginpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">登录</a>
                    </li>
                    <li id="reg" class="nav-item">
                        <a href="#regpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">注册</a>
                    </li>
                    <li id="find" class="nav-item">
                        <a href="#findpanel" data-toggle="tab" class="nav-link" style="color: midnightblue">找回密码</a>
                    </li>
                </ul>
            </div>

            <!-- 绘制登录窗口 -->
            <div class="tab-content">
                <div class="tab-pane container active" id="loginpanel">
                    <div class="modal-content" style="margin: 20px 0px;">
                        <div class="modal-body">
                            <div class="form-group row" style="margin-top: 20px;">
                                <label for="loginname" class="col-4">&nbsp;&nbsp;登录邮箱：</label>
                                <input type="text" id="loginname" class="form-control col-7" placeholder="请输入你的邮箱地址"/>
                            </div>
                            <div class="form-group row">
                                <label for="loginpass" class="col-4">&nbsp;&nbsp;登录密码：</label>
                                <input type="password" id="loginpass" class="form-control col-7"
                                       placeholder="请输入你的登录密码"/>
                            </div>
                            <div class="form-group row">
                                <label for="logincode" class="col-4"> &nbsp;&nbsp;图片验证码：</label>
                                <input type="text" id="logincode" class="form-control col-5" placeholder="请输入右侧的验证码"
                                       onkeyup="doLogin(event)"/>
                                <img src="#" id="loginvcode" class="col-3" style="cursor:pointer;"
                                     onclick="this.src='/captcha.html?'+Math.random()"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="doLogin(null)">登录</button>
                        </div>
                    </div>
                </div>

                <!-- 绘制注册窗口 -->
                <div class="tab-pane container" id="regpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="regname" class="col-4">&nbsp;&nbsp;注册邮箱：</label>
                                    <input type="text" id="regname" class="form-control col-7" placeholder="请输入你的邮箱地址"/>
                                </div>
                                <div class="form-group row">
                                    <label for="regpass" class="col-4">&nbsp;&nbsp;注册密码：</label>
                                    <input type="password" id="regpass" class="form-control col-7"
                                           placeholder="请输入你的注册密码"/>
                                </div>
                                <div class="form-group row">
                                    <label for="regcode" class="col-4">&nbsp;&nbsp;邮箱验证码：</label>
                                    <input type="text" id="regcode" class="form-control col-4" placeholder="请输入邮箱验证码"
                                           onkeyup="doReg(event)"/>
                                    <button type="button" class="btn btn-primary col-3" onclick="doSendMail(this)">
                                        发送邮件
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>注册时请使用邮箱地址，便于找回密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReg(null)">注册</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 绘制找回密码窗口 -->
                <div class="tab-pane container" id="findpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="username" class="col-4">&nbsp;&nbsp;注册邮箱：</label>
                                    <input type="text" id="username" class="form-control col-7"
                                           placeholder="请输入你的邮箱地址"/>
                                </div>
                                <div class="form-group row">
                                    <label for="newpass" class="col-4">&nbsp;&nbsp;新的密码：</label>
                                    <input type="text" id="newpass" class="form-control col-7" placeholder="请输入新的登录密码"/>
                                </div>
                                <div class="form-group row">
                                    <label for="findcode" class="col-4">&nbsp;&nbsp;邮箱验证码：</label>
                                    <input type="text" id="findcode" class="form-control col-4" placeholder="请输入邮箱验证码"
                                           onkeyup="doReset(event)"/>
                                    <button type="button" class="btn btn-primary col-3" onclick="doSendMail(this)">
                                        发送邮件
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>请输入注册邮箱地址并重置密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReset(null)">重置密码</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#搜索框功能javascript#}
<script type="text/javascript">
    function doSearch(e) {
        {#键盘回车搜索#}
        if ( e != null && e.keyCode != 13){
            return false;
        }
        var keyword = $.trim($("#keyword").val());
        {#alert(keyword);  调试用#}
        if (keyword.length == 0 || keyword.length > 10 || keyword.indexOf('%')>=0 ){
            //window.alert('搜索的内容不合法.');
            bootbox.alert({'title':'错误提示','message':"搜索的内容不合法。"});
            $("#keyword").focus();
            return false;  {# 让代码继续执行#}
        }
        location.href = '/search/1-' + keyword;
    }
{#搜索框功能javascript结束#}

    {#边侧栏开始#}
    // 在jQuert表示在文档加载完成后开始执行（不需要事件触发），
    //等价于 window.load=function(){}
    $(document).ready(function () {
        // 1、请求接口，获取json
        $.get('/recommended', function (data) {
            // alert(data); //调试用
        // 2、获取响应填充到推荐栏中
            var lastData = data[0];
            var mostData = data[1];
            var recommendedData = data[2];

            for (var i in lastData){
                var articleid = lastData[i][0];
                var headline = lastData[i][1];
                var id = parseInt(i) + 1;
                $("#last").append('<li><a href="/article/'+articleid+'">'+id+'. '+headline.substring(0,14)+'...</a></li>');
            }
            for (var i in mostData){
                var articleid = mostData[i][0];
                var headline = mostData[i][1];
                var id = parseInt(i) + 1;
                $("#most").append('<li><a href="/article/'+articleid+'">'+id+'. '+headline.substring(0,14)+'...</a></li>');
            }
            for (var i in recommendedData){
                var articleid = recommendedData[i][0];
                var headline = recommendedData[i][1];
                var id = parseInt(i) + 1;
                $("#recommended").append('<li><a href="/article/'+articleid+'">'+id+'. '+headline.substring(0,14)+'...</a></li>');
            }
        })
    })
    {#边侧栏结束#}
</script>